body {
    background: #1b1f1d;
    max-width: 1280px;
    margin: auto;
}


.headerbody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    height: 832px;
    max-width: 1280px;
}

header p {
    color: rgb(255, 255, 255);
    text-align: center;
font-size: 25px;
line-height: 28px; /* 95.238% */
width: 192px;
height: 43px;
padding-left: 40%;
padding-bottom: 20px;
text-shadow: 4px 4px #6c6262cb;
}

.header hr {
    width: 800px;
    height: 2px;

}

hr{
    width: 1280px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

 button{
    width: 182px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.667));
    border-radius: 50px;
    margin: 5px;
}


button:hover{
    background-color: rgba(165, 114, 114, 0.725);
}

 a {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
}

.headernav{
    padding-left: 13%;  
    margin: 10px;
    margin-top: 70px;

}

.header {
    background-image: url(Bilder/headerimage.jpeg);
    background-repeat: no-repeat;
    margin: 20px;
opacity: 0.7;
}

.headerline{
    background: #1b1f1d;
    width: 1100px;
    height: 80px;
    margin-top: 20px;
}


h1 {
    width: 1096px;
height: 1235px;
color: rgb(255, 255, 255);
font-size: 70px;
font-weight: 500;
line-height: 100px; /* 22.727% */
letter-spacing: 7px;
padding-top: 220px;
padding-left:100px;
text-shadow: 15px 10px #000000;
}


.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    max-width: 1000px;
    height: 832px;
    padding: 7%;    
}


 p {
    color: rgba(231, 231, 223, 0.675);
font-style: normal;
font-weight: 400;
flex-shrink: 0;
}

.section1 p{
    width: 412;
    height: 40px;
}

.heading{
    text-align: left;
    font-size: 65px;
    color: rgba(231, 231, 223, 0.833);
}

.aboutmetext{
    width: 277px;
   height: 360px;
font-size: 30px;
line-height: 35px; /* 116.667% */
}

.aboutme-container{
    position: relative;
    top: 0;
    left: 0;
}

.aboutmeimage1{
    position: relative;
    top: 150px;
    left: 90px;
    opacity: 0.6;
    transition: 1.8s;
}

.aboutmeimage2{
    position: absolute;
    top: -30px;
    left: 50px;
}

.aboutmeimage1:hover{
    opacity: 1;
    transform: scale(1.1);
}

main{
    margin-top: 50px;
}

.section1 hr{
    width: 1px;
    height: 832px; 
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: auto;
    padding: 7%;   
}
.heading{
    margin-top: 1px;
}
.container{
    display: flex;
}

.container img{
 width: 350px;
 height: 400px;
 opacity: 0.3;
}

.container div {
    border: 3px solid #726f6f85;
    background: rgba(217, 217, 217, 0.01);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 8px;
}

.container img:hover{
    transform: scale(1.4); /* Zoom in on the hovered image */
    transition: transform 3.5s; /* Animation */
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.763), 10px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
    
}

.container p {
    color: rgba(255, 251, 251, 0.79);
text-align: center;
font-size: 15px;
line-height: 20px; 
}

.container div a p {
    color: rgba(255, 251, 251, 0.79);
    font-size: 20px;
    text-decoration: underline;
    box-shadow: inset 0 0 0 0 #221f2177;
    transition: color 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
}

.container div a p:hover{
    color: #fff;
    box-shadow: inset 350px 0 0 0 #bbacbba3;
}




/* the Table styling */
div h2 {
    width: 1116px;
    height: 10px;
    letter-spacing: 2px;
    font-size: 70px;
    padding-top: 80px;
    padding-bottom: 100px;
    color: rgba(255, 251, 251, 0.644);
    text-shadow: 4px 4px #1c1b1b94;
    margin-left: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: rgba(188, 182, 182, 0.145);
    color: #f8e8e8c9;
    font-size: 25px;
    margin-left: 70px;
  }
  
  td, th {
    border: 10px solid #281f1f99;
    text-align: left;
    padding: 10px;
  }
  
th:hover {
    background-color: #443c417d;
  }

  tr:nth-child(even) {
    background: #9e707047;
}

.skills, .langauge, .precentage, .fluency{
    font-size: 45px;
    color: #f8e8e8c9;
    background-color: #493d3da8;
}

/*The footer container*/

.footercontainer{
    height: auto;
    display: flex;
  flex-direction: row;
    margin-top: 150px;
    position: relative;
}



.footertext{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footertext p {
    color: rgba(255, 251, 251, 0.644);
    font-size: 40px;
    text-shadow: 4px 4px #1c1b1b94;
}

.footertext a {
    color: rgba(197, 88, 155, 0.717);
    font-size: 40px;
    text-shadow: 4px 4px #1c1b1b94;
}


.footertext p a:hover {
    color: rgba(227, 140, 195, 0.666);
}

.footercontainer h1 {
    width: 1116px;
    height: 6px;
    letter-spacing: 2px;
    font-size: 90px;
    padding-top: 20px;
    padding-bottom: 100px;
    color: rgba(255, 251, 251, 0.644);
    text-shadow: 4px 4px #1c1b1b94;
}

.footercontainer hr {
    width: 150px;
    margin-left: 1px;
}

.footerhr{
   margin-top: 50px;
}

.footericons a {

        font-size: 60px;
        color: rgba(255, 251, 251, 0.693);
        margin-top: 30respx;
        padding: 10px;
        text-shadow: 4px 4px #000000;
    
    }

.fa:hover{
    color: rgba(227, 140, 195, 0.666);
}

.lasthr {
    margin-top: 200px;

}


/*The Formi styling */

.form-container{
  background-color: #c9bbbbd7;
  padding: 20px;
  width: 637px;
height: 574px;
border-radius: 10px;
border: 2px solid rgba(0, 0, 0, 0.30);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.522), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left: 60px;
position: absolute;
opacity: 0.8;

}

input[type=text], input[type=EMAIL], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.40);
background: rgba(217, 217, 217, 0.10);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
input[id="Message"] {
    height: 100px;
}

  input[type=submit] {
    width: 190px;
height: 43px;
flex-shrink: 0;
    border-radius: 100px;
background: rgba(217, 217, 217, 0.80);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }

 .submit:hover{
    background-color: rgba(105, 93, 93, 0.511);
 }

 input:hover{
    background: rgba(188, 171, 171, 0.499);

 }

 .form-container h3{
    font-size: 30px;
 }
 

  /*The contact container*/

  .contact-container h3{
    color: rgba(255, 251, 251, 0.693);
    font-size: 30px;

  }
  .contact-container{
    width: 517px;
    height: 736px;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.50);
    background-color: #3a3232f9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.522), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 650px;
    margin-top: 20px;
    opacity: 0.9;

  }

 
  /*Youtube video styling*/
  .youtube-video{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
  }
  

  /* Responsive for mobile phone */
  @media (max-width: 844px) {

    body {
        background-color: #99b1a5;
    }

    p {
        color: white;

    }

    /*Header responsive*/


    .headernav{
        display: flex;
        flex-direction: column;
        padding-left: 300px;
        gap: 30px;
    
    }
    
    .header {
        background-image: none;
        background-repeat: no-repeat;
        width: 800px;
    opacity: 0.9;
    }

h1{
    font-size: 60px;
    margin-left: 200px;
    padding-top: 90px;
    text-shadow: none;
}



.header p {
font-size: 30px;
line-height: 30px;
text-align: left;
text-shadow: none;
}

.headerline{
    display: none;
}


button{
    width: 802px;
    height: 86px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin: 5px;
}

a {
    color: #000000;
    font-size: 40px;
    text-decoration: none;
}

    /*Main*/
.section1{
    display: flex;
    flex-direction: column;
 padding-left: 250px;
gap: 400px;
height: auto;
margin-bottom: 200px;

}

.heading {
    font-size: 80px;
    margin-top: 150px;
    width: 800px;
    color: white;
}

.aboutmetext{
    font-size: 60px;
    line-height: 60px;
    width: 800px;
}

.aboutme-container img {
    opacity: 1;
    width: 800px;
}

.aboutmeimage1:hover{
    display: none;
}

.section1hr{
    display: none;
}



/*Section 2*/

.section2{
    padding-left: 150px;
}
.container{
    display: flex;
    flex-direction: column; 
}

.container img{
    width: 800px;
    height: 750px;
    opacity: 1;
}

.container div {
    border: 3px solid #000000a2;
    background: rgba(217, 217, 217, 0.01);
    padding: 30px;
    margin: 10px;
    width: 800px;
    height: auto;
}

.container div a p {
    color: rgba(255, 251, 251, 0.79);
    font-size: 50px;
    text-decoration: underline;
}

.container p {
    color: rgba(255, 251, 251, 0.79);
    text-align: center;
    font-size: 45px;
    line-height: 40px; 
}


/* Section 3 */

div h2 {
    width: auto;
    height: 100px;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
    margin-left: 300px;
}

table {
    color: #fdfdfd;
    font-size: 20px;
    margin-left: 300px;
  }


  td, th {
    border: 5px solid #281f1f99;
    text-align: left;
    padding: 8px;
  }

  .skills, .langauge, .precentage, .fluency{
    font-size: 25px;
    color: #f8e8e8c9;
    background-color: #493d3da8;
}

/* Footer Container */
.footercontainer{
    height: auto;
    display: flex;
  flex-direction: column;
}

.form-container{
    background-color: #c9bbbbd7;
    padding: 100px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  opacity: 1;
  margin-left: 150px;
  
  }

  .contact-container{
    width: 817px;
    height: 736px;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.50);
    background-color: #3a3232f9;
    margin-left: 170px;
    margin-top: 850px;
    opacity: 0.9;
  }


  /*Youtube video*/

  .youtube-video h2 {
    width: 800px;
    font-size: 40px;
    margin-right: 50px;
  }

  .youtube-video p {
    font-size: 30px;
  }

  
  .youtube-video{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 600px;
  }
  
  }