body {
    background: linear-gradient(to left, #311630, #84745d); /* Replace the colors with your desired gradient */
    padding: 0;
    overflow-x: hidden;
}

.mobilenav input{
    display: none;
}

/* The header */

#thenavbar{
background-color: #22141c;
overflow-y: hidden;

}

.headerbody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}


.header hr {
    width: 800px;
    height: 2px;
}

.header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.headernav{
position: relative;
}

.headernav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    text-align: center;
    position: absolute;
font-size: 15px;
font-weight: 200;
    gap: 70px;
right: 40px;
letter-spacing: 9px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: #6db0b0;
}

a:hover {
 color: #b55b91;
}

.headernav{
    position: relative;
}

.headertitle{
    display: flex;
    flex-direction: column;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #77aeb0ae;
    text-align: center;
    padding-top: 280px;

}

.headertitle h1 {
    font-size: 42px;
    letter-spacing: 6px;
    
}

.headertitle p {
  font-size: 30px;
  color: #77aeb0ae;
  letter-spacing: 6px;
}

.headerbimg{
    display: flex;
    flex-direction: row;
}


.favicon2{
    filter: brightness(80%);
    padding-top: 10px;
    padding-left: 10px;
    position: fixed;
}

.favicon2:hover{
    filter: brightness(100%);
    transform: scale(1.2); 
}

/*New header*/



/* Section 1 */
#aboutme hr {
    margin-top: 0;
    filter: blur(2px);
}

.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    max-width: 1000px;
    height: 832px;
    margin: 9%;    
}

 p {
    color: #000000;
font-style: normal;
font-weight: 400;
flex-shrink: 0;
}

.section1 p{
    width: 312px;
    height: 40px;
}

.aboutmetext{
    width: 277px;
   height: 360px;
font-size: 30px;
line-height: 35px; /* 116.667% */
}

.aboutme-container{
    position: relative;
    top: 0;
    left: 0;
}

.aboutmeimage1{
    max-width: 500px;
    position: relative;
    top: 250px;
    left: 90px;
    opacity: 0.6;
    transition: 3.8s;
}

.aboutmeimage2{
    position: absolute;
    top: 30px;
    max-width: 600px;
}

.aboutmeimage1:hover{
    opacity: 1;
    transform: scale(1.2);
    margin-top: 100px;
}

.section1 hr{
    width: 1px;
    height: 832px; 
}


/* Section 2*/
.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: auto;
    padding: 7%;   
}
.heading{
    margin-top: 1px;
    text-align: left;
    font-size: 65px;
    color: 	#000000;
}
.container{
    display: flex;
}

.container img{
 width: 350px;
 height: 400px;
 opacity: 0.5;
}

.container div {
    border: 3px solid #726f6f85;
    background: #d9d9d900;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25), 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 8px;
}

.container img:hover{
    transform: scale(1.4); /* Zoom in on the hovered image */
    transition: transform 3.5s; /* Animation */
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.763), 10px 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 1;
    
}

.container p {
    color: 	#000000;
text-align: center;
font-size: 15px;
line-height: 20px; 
}

.container div a p {
    color: 	#000000;
    font-size: 20px;
    text-decoration: underline;
    box-shadow: inset 0 0 0 0 #221f2177;
    transition: color 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
}

.container div a p:hover{
    color: #fff;
    box-shadow: inset 350px 0 0 0 #bbacbba3;
}




/* the Table styling */
div h2 {
    width: 1116px;
    height: 10px;
    letter-spacing: 2px;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 100px;
    color: 	#000000;
    text-shadow: 4px 4px #1c1b1b94;
    margin-left: auto;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: 	#4342406a;
    color: #000000;
    font-size: 25px;
    margin: auto;
  }
  
 th {
 padding: 30px;
 border: 10px solid #281f1f99;
 text-align: left;
 }

  td {
    border: 10px solid #281f1f99;
    text-align: left;
    padding: 20px;
    padding-right: 300px;
  }
  
th:hover {
    background-color: #443c417d;
  }

  tr:nth-child(even) {
    background: #9e707047;
}

.skills, .langauge, .precentage, .fluency{
    font-size: 45px;
    color: #000000;
    background-color: #493d3da8;
}

.pcontainer{
    width: 100%;
    background-color: #c3b5b532;
    border: 3px solid #281f1f99;
}

.pcontainer:hover{
    background-color: #c3b5b596;
}

.pcontainer div:hover{
    background-color: #7edf3eb5;;
}

.p10{
    width: 10%; 
    background-color: #71c6394b;
}

.p90{
    width: 90%; 
    background-color: #71c6394b;;
}

.p80{
    width: 80%;
    background-color: #71c6394b;;
}

.p60{
    width: 60%;
    background-color: #71c6394b;;
}


/*The footer container*/
.footercontainer{
    display: flex;
  flex-direction: row;
    margin-top: 150px;
    position: relative;
    margin-left: 100px;
}

.footertext{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footertext p {
    color: #a39292;
    font-size: 40px;
    text-shadow: 4px 4px #1c1b1b94;
}

.footertext a {
    color: #d0c9cd;
    font-size: 40px;
    text-shadow: 4px 4px #1c1b1b94;
}

.footertext p a:hover {
    color: #9a616b;
}


.footercontainer hr {
    width: 150px;
    margin-left: 1px;
}

.footerhr{
   margin-top: 50px;
}

.footericons a {

        font-size: 80px;
        color: #e7e7dfc8;
        padding: 10px;
        text-shadow: 4px 4px #000000;
        text-decoration: none;
    }

.fa:hover{
    color: #9a616b;
}

.fa p {
    display: none;
}

.lasthr {
    margin-top: 200px;

}


/*The Form styling */

.form-container{
  background-color: #c9bbbbd7;
  padding: 20px;
  width: 500px;
height: 574px;
border-radius: 10px;
border: 2px solid rgba(0, 0, 0, 0.30);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.522), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left: 60px;
position: absolute;
opacity: 0.8;

}

input[type=text], input[type=EMAIL], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.40);
background: rgba(217, 217, 217, 0.10);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
input[id="Message"] {
    height: 100px;
}

  input[type=submit] {
    width: 190px;
height: 43px;
flex-shrink: 0;
    border-radius: 100px;
background: rgba(217, 217, 217, 0.80);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }

 .submit:hover{
    background-color: rgba(105, 93, 93, 0.511);
 }

 input:hover{
    background: rgba(188, 171, 171, 0.499);

 }

 .form-container h3{
    font-size: 30px;
 }
 

  /*The contact container*/

  .contact-container h3{
    color: rgba(255, 251, 251, 0.693);
    font-size: 30px;

  }
  .contact-container{
    width: 440px;
    height: 750px;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.50);
    background-color: #3a3232f9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.522), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 600px;
    margin-top: 20px;
    opacity: 0.9;

  }





/* The monile navbar*/
.menu {
    display: none;
}

.mobilenav h2{
    display: none;
    max-width: 800px;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: 50px;
    line-height: 90px; /* 22.727% */
    letter-spacing: 7px;
    padding-top: 220px;
    padding-left:100px;
    text-shadow: 15px 10px #000000;
}

.mobilenav p{
    display: none;
}
 


  /*Youtube video styling*/
  .youtube-video {
    margin: auto;
    display: flex;
    flex-direction: row;
padding-left: 150px;
}

  div iframe{
    width: 300px;
    height: 200px; 
    margin: 20px;
  }


  

  /* Responsive for mobile phone */

  @media (max-width: 844px) {
    body {
        width: 100vw;
        overflow-x: hidden;
        background:  #000000; /* Replace the colors with your desired gradient */
    }
*{
    display: flex;
    flex-direction: column;
}
    p {
        color: white;
        font-size: 30px;
        line-height: 50px;

    }

    /*Hamburger menu for mobile*/
    
    #mobilnav{
        background-image: url(Bilder/mobilnav-img.jpeg);
        background-repeat: no-repeat;
    }

    .mobilenav h2{
        display: block;
        padding-left: 40px;
        font-size: 50px;
        color: rgba(206, 174, 115, 0.949);
        text-shadow: #000000;
        padding-bottom: 8px;
    }
    
    .mobilenav p{
        display: block;
        font-size: 20px;
        padding-left: 170px;
    }

    
 #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 53px;
  height: 8px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  display: block;
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: -100px 0 0 -50px;
  padding: 300px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 30px 0;
  font-size: 42px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}





/*Hide the headerbody*/

  .headerbody{
    display: none;
  }

  .header {
    display: none;
  }




    /*Main*/
.section1{
    display: flex;
    flex-direction: column;
 padding-left: 20px;
 width: 100%;
height: 1600px;
margin-top: 2px;
}

.heading {
    font-size: 40px;
    color: white;
}

.aboutmetext{
    font-size: 25px;
    line-height: 40px;
}

.amt-container{
}

.aboutme-container img {
    opacity: 1;
    width: fit-content;
}


.section1hr{
    display: none;
}



/*Section 2*/


.section2{
    padding-left: 2px;
}
.container{
    display: flex;
    flex-direction: column; 
    width: 50%;
}

.container img{
    width: 70%;
    opacity: 1;
}

.container div {
    border: 3px solid #000000a2;
    background: rgba(217, 217, 217, 0.01);
    padding: 30px;
    margin: 10px;
    width: 800px;
    height: auto;
}

.container div a p {
    color: rgba(255, 251, 251, 0.79);
 font-size: 40px;
    text-decoration: none;
    list-style: none;
    width: fit-content;
}


.container p {
    color: rgba(255, 251, 251, 0.79);
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    width: 300px;
}

.heading{
    font-size: 30px;
    padding-left: 40px;
}


/* Section 3 */

div h2 {
    width: auto;
    height: 100px;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
    margin-left: 300px;
}


.table {
    color: #fdfdfd;
    font-size: 20px;
margin-left: 170px;  
}


  td, th {
    border: 5px solid #281f1f99;
    text-align: left;
    padding: 40px;
    padding-right: 200px;
  }

  .skills, .langauge, .precentage, .fluency{
    font-size: 25px;
    color: #f8e8e8c9;
    background-color: #493d3da8;
}

/* Footer Container */
.footercontainer{
    display: flex;
  flex-direction: column;
}

.form-container{
    background-color: #c9bbbbd7;
    padding: 20px;
    width: 500px;
  height: 574px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.30);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.522), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 1px;
  position: absolute;
  opacity: 0.8;
  
  }

  .contact-container{
    width: 517px;
    height: 836px;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.50);
    background-color: #3a3232f9;
    margin-left: 40px;
    margin-top: 580px;
    opacity: 0.9;
  }


  /*Youtube video*/

  .youtube-video h2 {
    width: 800px;
    font-size: 50px;
    margin-left: 100px;
  }

  
  .youtube-video{
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
}

    
  