body {
    background: #272D38;
    max-width: 1280px;
    margin: auto;
}


.headerbody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    height: 832px;
}

header p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Newsreader;text-align: center;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 95.238% */
width: 192px;
height: 43px;
padding-left: 40%;
padding-bottom: 20px;}

.header hr {
    width: 932px;

}

hr{
    width: 1280px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

 button{
    width: 182px;
height: 36px;
background-color: rgba(0, 0, 0, 0.40);
mix-blend-mode: multiply;
filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.30));
border-radius: 7px;
}

button:hover{
    background-color: rgba(191, 168, 168, 0.4);
}

 a {
    color: #ffffff;
text-align: center;
font-family: Martel Sans;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 20px;
text-decoration: none;
}

.headernav{
    padding-left: 15%;
    flex-shrink: 0;
}

.header{
    background-image: url(Bilder/headerimage.png);
    width: 1096px;
    height: 1219px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

h1 {
    width: 1096px;
height: 1235px;
color: rgba(255, 255, 255, 0.50);
font-family: Newsreader;
font-size: 100px;
font-style: normal;
font-weight: 400;
line-height: 100px; /* 22.727% */
letter-spacing: 6.6px;
padding-top: 380px;
padding-left:20px;
}


.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    max-width: 1000px;
    height: 832px;
    padding: 7%;    
}


.section p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Newsreader;
font-style: normal;
font-weight: 400;
flex-shrink: 0;
}

.section1 p{
    width: 412;
    height: 40px;
}

.heading{
    text-align: center;
    font-size: 65px;
    line-height: 20px; /* 30.769% */ 
    width: 512px;
height: 40px;
flex-shrink: 0;

}
.aboutmetext{
    width: 277px;
height: 360px;
font-size: 30px;
line-height: 35px; /* 116.667% */
}

.aboutme-container{
    position: relative;
    top: 0;
    left: 0;
}

.aboutmeimage1{
    position: relative;
    top: 150px;
    left: 90px;
}

.aboutmeimage2{
    position: absolute;
    top: -30px;
    left: 50px;
}


.section1 hr{
    width: 1px;
    height: 832px; 
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    max-width: 1000px;
    height: 832px;
    padding: 7%;   
}

.imaages-container{
    display: flex;
}

.imaages-container img{
 width: 300px;
 margin: 10px;

}

.skillscontainer{
    background-image: url(Bilder/skillsimage.png);
    width: 1096px;
height: 800px;
background-repeat: no-repeat;
margin: auto;
}

.techlang-container{
    display: flex;
    flex-direction: row;
   gap: 500px;
}

.skillscontainer p {
font-size: 75px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 20% */
width: auto;
height: 136px;
}

.techheading p{
    font-size: 40px;
}

.languages p{
    font-size: 20px;

}

.technicalskills p{
    font-size: 20px;
    width: auto;
    height: 40px;
}

.p1 div{
    border-radius: 10px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 206px;
    height: 31px;
flex-shrink: 0;
}

.p1 div div {
    
width: 100px;
height: 23px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid rgba(168, 16, 16, 0.50);
background: rgba(255, 182, 182, 0.50);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.footercontainer{
    width: 1280px;
    height: 832px;
}

.textimgcontainer{
  display: flex;
  flex-direction: row;
}

.textimgcontainer img {
width: 746px;
height: 832px;
}

.footertext{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.50);
}

.footertext p {
    font-size: 40px;
}

.footercontainer h1 {
    width: 1116px;
    height: 36px;
    font-family: Newsreader;
    font-size: 80px;
    margin-bottom: 200px;
}

.footercontainer hr {
    width: 160px;
    margin-left: 1px;
}

.footerhr{
   margin-top: 50px;
}





